name: sync_from_gitee

on:
  workflow_dispatch:
  schedule:
    #每天这个时间定时同步
    - cron:  '0 3 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
        fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.
    - name: sync from gitee
      run: |
        git remote add gitee https://gitee.com/openLuat/luatos-soc-air101.git
        git pull gitee master
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}
